@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  src: local('Miltonian Tattoo'), local('MiltonianTattoo'), url(http://fonts.gstatic.com/s/miltoniantattoo/v9/1oU_8OGYwW46eh02YHydnzhIoxOGKXnDP3ByRnzCG7U.woff) format('woff');
}
