@font-face {
  font-family: 'Fascinate Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Fascinate Inline'), local('FascinateInline-Regular'), url(http://fonts.gstatic.com/s/fascinateinline/v6/lRguYfMfWArflkm5aOQ5QIbjUz88PNg0W9hW3hMAdPY.woff) format('woff');
}
