@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: local('MedievalSharp'), url(http://fonts.gstatic.com/s/medievalsharp/v8/85X_PjV6tftJ0-rX7KYQkDeVYMoRQZQCFxxC3Gmetqw.woff) format('woff');
}
