@font-face {
  font-family: 'Henny Penny';
  font-style: normal;
  font-weight: 400;
  src: local('Henny Penny'), local('HennyPenny-Regular'), url(http://fonts.gstatic.com/s/hennypenny/v4/5KmZ_gfx8tPgQLMk4S-PvobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
