@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  src: local('Denk One'), local('DenkOne-Regular'), url(http://fonts.gstatic.com/s/denkone/v4/ahLepySZXU_KFQaVZ6XDvPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
