@font-face {
  font-family: 'Germania One';
  font-style: normal;
  font-weight: 400;
  src: local('Germania One'), local('GermaniaOne-Regular'), url(http://fonts.gstatic.com/s/germaniaone/v4/3_6AyUql_-FbDi1e68jHdHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
